[Unit]
Description=XMRig Monero Miner
After=network-online.target

[Service]
Type=simple
ExecStart=%h/bin/xmrig --config=%h/.config/xmrig/config.json --no-color
Restart=always
RestartSec=15
Nice=10

[Install]
WantedBy=default.target
